<!-- Footer-->
<div class="px-5 bg-dark" style="border-bottom: 5px solid orange;">
  <footer class="py-5">
    <div class="row text-white">
      <div class="col-5 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Accueil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Secteurs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Prix</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">A propos</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Domaine d'activité</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Cours informatique en ligne</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Developpement d'application</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Infographie</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Cours d'Arabe</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white"></a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
          <h5>Contactez-nous par: </h5>
          <p></p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <i class="fa-brands fa-font-awesome"></i>
            <i class="fa-solid fa-user-secret"></i>
            <i class="fa-regular fa-bell"></i>
            <i class="fa-solid fa-user-secret"></i>
          </div>
      </div>
    </div>
</footer>

